{% load cmt_helper %}

<div class="card-content">

    <div class="card-header pb-0">
        <p class=" font-medium-1">
            <span class="text-bold-600">Arista Part :</span> {{Quotes.0.Part_Number|default_if_none:'' }},
            <span class="text-bold-600">Mfr. Part : </span>{{Quotes.0.portfolio.Mfr_Part_Number|default_if_none:'' }}
            <span class="text-bold-600">RFQ Id : </span>{{Quotes.0.id|default_if_none:'' }}
           
            {%if Quotes.0.sent_to == 'supplier' or Quotes.0.sent_to == 'cm'%}
            {%else%}
            <span class="text-bold-600">Distributor :</span>{{Quotes.0.sent_to}}
            {%endif%}
            {%comment%}
            {%if not Quotes.0.award is None%}
            <span class="text-bold-600 btn btn-square btn-success float-right">Split Award: {{Quotes.0.award|default_if_none:'Not Alloted' }}</span>
            {%endif%}
            {%endcomment%}

            <!-- <span class="text-bold-600">RFQ id : </span>{{Quotes.0.RFX_id|default_if_none:'' }} -->

        </p>
        <div class="table-responsive-sm">
            <table class="table  table-sm table-borderless font-small-3 bg-grey bg-lighten-5" cellspacing="0" id="smtable">
                <tbody>
                    <tr>
                        <th class="pb-0">Contract Manufacturer</th>
                        <th class="pb-0">Lifecycle Phase </th>
                        <th class="pb-0">Rev </th>
                        <th class="pb-0">Mfr Name </th>
                    </tr>
                    <tr>
                        <td> {{Quotes.0.portfolio.cm}} </td>
                        <td> {{Quotes.0.portfolio.Lifecycle_Phase}} </td>
                        <td> {{Quotes.0.portfolio.Rev}} </td>
                        <td> {{Quotes.0.portfolio.Mfr_Name}} </td>
                    </tr>
                    <tr>
                        <th class="pb-0">Mfr Part Lifecycle Phase </th>
                        <th class="pb-0">Qualification Status </th>
                        <!-- <th class="pb-0">Contract Mfr Part Number </th> -->
                        <th class="pb-0">PO / Delivery </th>

                        <th class="pb-0">Arista PIC </th>
                    </tr>
                    <tr>
                        <td> {{Quotes.0.portfolio.Mfr_Part_Lifecycle_Phase}} </td>
                        <td> {{Quotes.0.portfolio.Qualification_Status}} </td>
                        <!-- <td> {{Quotes.0.portfolio.cm_Part_Number}} </td> -->
                        <td> {{Quotes.0.portfolio.Original_PO_Delivery_sent_by_Mexico}} </td>
                        <td> {{Quotes.0.portfolio.Arista_PIC}} </td>
                    </tr>
                    <tr>

                        <th class="pb-0">Cust Consign </th>
                        <th class="pb-0">Parts controlled by </th>
                        <th class="pb-0">Item Desc </th>
                        

                    </tr>
                    <tr>
                        <td> {{Quotes.0.portfolio.Cust_consign}} </td>
                        <td> {{Quotes.0.portfolio.Parts_controlled_by}} </td>
                        <td> {{Quotes.0.portfolio.Item_Desc}} </td>
                        


                    </tr>
                    <tr>

                        <th class="pb-0">Quarterly Demand</th>
                        <th class="pb-0">Annual Demand</th>
                        <th class="pb-0">Required Quantity</th>


                    </tr>
                    <tr>
                        <td> {{Quotes.0.portfolio.CQ_sum_1_ARIS_FQ_sum_2_SANM_Demand}} </td>
                        <td> {%sum Quotes.0.portfolio.CQ_ARIS_FQ_sum_1_SANM_Demand|default_if_none:0 Quotes.0.portfolio.CQ_sum_1_ARIS_FQ_sum_2_SANM_Demand|default_if_none:0 Quotes.0.portfolio.CQ_sum_2_ARIS_FQ_sum_3_SANM_Demand|default_if_none:0 Quotes.0.portfolio.CQ_sum_3_ARIS_FQ_SANM_Demand|default_if_none:0 %} </td>
                        <td> {% if Quotes.0.portfolio.Delta_OH_and_Open_PO_DD_CQ_sum_CQ_sum_1_Arista >= 0%} 0 {%else%} {{Quotes.0.portfolio.Delta_OH_and_Open_PO_DD_CQ_sum_CQ_sum_1_Arista|stringformat:"+d"|slice:"1:"}} {%endif%} </td> 
                    </tr>


                </tbody>
            </table>
        </div>

        {% comment %} <!--<button id='Make_single' class="btn btn-sm btn-green m-1">Copy the changes for all the Quarter</button>-->  {% endcomment %}
        <button id='Make_all' style="display: none;" class="btn btn-sm btn-green m-1">Stop auto copy</button>
        <form class="col-12" id='Quote_form' action="{%url 'make_quote' 'quote'%}" method="post">
            {%csrf_token%}

            <div class="card {%if not Quotes.0.quote_is_writable%}block_it {%endif%}  border-info border-lighten-3">
                <div class="col-12 p-0"> <button type="button" onclick="not_to_quote(['{{Quotes.0.id|default_if_none:'' }}','{{Quotes.1.id|default_if_none:'' }}','{{Quotes.2.id|default_if_none:'' }}'])" class="btn btn-sm btn-info float-right">No BID</button></div>

                <input type="hidden" name="quote_count" id="quote_count" value=3>
                {%for quarter in Quotes%}
                <input type="hidden" value="{{quarter.id|default_if_none:'' }}" name='id'>
                <div id="container_{{quarter.id}}" class="card-content">
                    <div class="row">


                        <div class="col-12 modal-body m-1 font-small-3">
                            <span class="row text-bold-700 ml-1" >
                                <span class="text-bold-500 text-secondary square shadow-lg bg-warning bg-lighten-2  p-1 font-medium-1 ">

                                    <b>Quote For</b>: {{quarter.quarter|default_if_none:'' }} {%if quarter.quarter in Required%} {%else%} {%endif%}
                                </span>
                                {%comment%}
                                {%if request.user.is_superuser%}
                                <br>
                                Quote Writable: {{quarter.quote_is_writable}}
                                <br>
                                Quote Freezed: {{quarter.quote_freeze}}
                                {%endif%}
                                {%endcomment%}
                            </span>
                            <div class="row">
                                <div class="col-md-12">
                                <span class="text-bold-700 mb-1 text-muted border-bottom-info float-right font-medium-2">
                                    Due Date : <span class="danger ">{{quarter.due_date | default_if_none:'No Due date'}}</span>
                                </span>
                            </div>
                                 <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Previous Quarter Item Price ($)</label>
                                        <input type="number" value="{{previous_Quotes.Item_Price|default_if_none:''}}" class="form-control input-sm"
                                            readonly="">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Item Price ($) {%if quarter.quarter in Required%}<span class="red">*</span>{%else%} {%endif%} </label>
                                        <input min="0.0001" type="text" data-toggle="tooltip" title="Enter only Numerics > 0" data-placement="bottom" {%if quarter.quarter in Required%} required {%else%} {%endif%} pattern="^(\d*\.[0-9]{0,5}|\d+(,\d{3})*(\.[0-9]{0,5})?)$"
                                            class="form-control input-sm" oninput="check(this)" name="Item_Price" id="Item_Price_{{quarter.id|default_if_none:'' }}"
                                            value="{{quarter.Item_Price|default_if_none:'' }}">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Previous Quarter MFG Lead Time</label>
                                        <input  type="number" class="form-control input-sm" value='{{previous_Quotes.Lead_Time|default_if_none:'' }}'
                                            readonly="">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>MFG Lead Time (In Weeks){%if quarter.quarter in Required%}<span class="red">*</span>{%else%} {%endif%}</label>
                                        <input min="1" type="number" data-toggle="tooltip" title="Enter only Numerics > 0" data-placement="bottom" oninput="check(this)"  pattern="^([0-9]+(?:[0-9]*)?|[0-9]+)$" class="form-control input-sm" name="Lead_Time" id='Lead_Time_{{quarter.id|default_if_none:'' }}'
                                            value='{{quarter.Lead_Time|default_if_none:'' }}' {%if quarter.quarter in Required%} required {%else%} {%endif%}>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Previous Quarter MOQ</label>
                                        <input type="number" class="form-control input-sm"   value="{{previous_Quotes.MOQ|default_if_none:'' }}" readonly="">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>MOQ {%if quarter.quarter in Required%}<span class="red">*</span>{%else%} {%endif%}</label>
                                        <input min="1" type="number" data-toggle="tooltip" title="Enter only Numerics > 0" data-placement="bottom" oninput="check(this)"  pattern="^([0-9]+(?:[0-9]*)?|[0-9]+)$" class="form-control input-sm" name="MOQ" id='MOQ_{{quarter.id|default_if_none:'' }}' {%if quarter.quarter in Required%} required {%else%} {%endif%}
                                            value="{{quarter.MOQ|default_if_none:'' }}">
                                    </div>
                                </div>
                                 <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Suggested MOQ </label>
                                        
                                        <!-- <input type="number" class="form-control input-sm" value="{%suggested_moq Quotes.0.portfolio.CQ_sum_1_ARIS_FQ_sum_2_SANM_Demand%}"
                                            readonly=""> -->
                                        <input type="number" class="form-control input-sm" 
                                            readonly="">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>PO/ Delivery {%if quarter.quarter in Required%}<span class="red">*</span>{%else%} {%endif%}</label>
                                        <select placeholder='Select an Option' {%if quarter.quarter in Required%} required {%else%} {%endif%} class="select2 form-control input-sm"
                                            name="PO_Delivery" id="PO_Delivery_{{quarter.id|default_if_none:'' }}" {%if quarter.quarter in Required%} required {%else%} {%endif%} value='{{quarter.PO_Delivery|default_if_none:'' }}'>

                                            <option  disabled>select</option>
                                            <option value="PO">PO</option>
                                            <option value="Delivery">Delivery</option>

                                        </select>
                                    </div>
                                </div>
                                
                               

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>COO {%if quarter.quarter in Required%}<span class="red">*</span>{%else%} {%endif%}{{quarter.COO|default_if_none:'' }}</label>
                                        <select class="select2 form-control input-sm" value="{{quarter.COO|default_if_none:'' }}" name="COO" id='COO_{{quarter.id|default_if_none:'' }}' {%if quarter.quarter in Required%} required {%else%} {%endif%}>
                                            <option disabled>Select COO</option>
                                            <option>Mexico</option>
                                            <option>China</option>
                                            <option>USA</option>
                                            <option>Vietnam</option>
                                            <option>Indonesia</option>
                                            <option>Malasiya</option>
                                            <option>Philippines</option>
                                            <option>Austria</option>
                                            <option>Taiwan</option>
                                            <option>Hungary</option>
                                            <option>Singapore</option>
                                            <option>Japan</option>
                                            <option>Hong Kong</option>
                                            <option>Korea</option>
                                            <option>Thailand</option>
                                            <option>Morocco</option>
                                            <option>Germany</option>
                                            <option>India</option>
                                            <option>New Zealand</option>
                                            <option>Texas</option>
                                            <option>FR</option>
                                            <option>DE</option>
                                            <option>CR</option>
                                            <option>SUZHOU</option>
                                            <option>CN</option>
                                            <option>N/A</option>
                                        </select>
                                    </div>
                                </div>
                                  <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Freight cost ($) </label>
                                        <input type="number" data-toggle="tooltip" title="Enter the value >/= 0" data-placement="bottom" pattern="^(\d*\.[0-9]{0,5}|\d+(,\d{3})*(\.[0-9]{0,5})?)$"
                                            class="form-control input-sm" name="Freight_cost" id='Freight_cost_{{quarter.id|default_if_none:'' }}'
                                            value="{{quarter.Freight_cost|default_if_none:'' }}">

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Inco Term {%if quarter.quarter in Required%}<span class="red">*</span>{%else%} {%endif%}</label>
                                        <select {%if quarter.quarter in Required%} required {%else%} {%endif%} placeholder='Select an Option' class="select2 form-control input-sm"
                                            name="Inco_Term" id='Inco_Term_{{quarter.id|default_if_none:'' }}'  value='{{quarter.Inco_Term|default_if_none:'' }}'>
                                            <option disabled >select</option>
                                            <option>CFR</option>
                                            <option>CIF</option>
                                            <option>CIP</option>
                                            <option>CPT </option>
                                            <option>DAF</option>
                                            <option>DAP</option>
                                            <option>DAT</option>
                                            <option>DDP</option>
                                            <option>DDU</option>
                                            <option>DEQ </option>
                                            <option>DES</option>
                                            <option>EXG</option>
                                            <option>EXW</option>
                                            <option>FAS</option>
                                            <option>FCA</option>
                                            <option>FH</option>
                                            <option>FOB</option>
                                            <option>FOC</option>
                                            <option>FOR</option>
                                            <option>FOT</option>
                                            <option>FRD</option>
                                            <option>HC</option>
                                            <option>N/A</option>
                                        </select>
                                    </div>
                                </div>
                              
                                 <div class="col-md-3 ">
                                    <div class="form-group">
                                        <label>Life Cycle </label>
                                        <select placeholder='Select an Option' class="select2 form-control input-sm"
                                            name="Life_Cycle" id="Life_Cycle_{{quarter.id|default_if_none:'' }}"  value='{{quarter.Life_Cycle|default_if_none:'' }}'>
                                            <option selected  value='-'>select</option>
                                            <option value="EOL">EOL</option>
                                            <option value="Active">Active</option>
                                            <option value="Obsolete">Obsolete</option>
                                        </select>
                                    </div>
                                </div>
                                 <div class="col-md-3">
                                    <div class="form-group">
                                        <label>List</label>
                                        <input type="text" class="form-control input-sm" name="List" id="List_{{quarter.id|default_if_none:'' }}"
                                            value="{{quarter.List|default_if_none:'' }}">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Tariff</label>
                                        <div >
                                            <input type="text" class="form-control input-sm" name="tarrif"
                                                id="tarrif_{{quarter.id|default_if_none:'' }}"  value='{{quarter.tarrif|default_if_none:'' }}'>
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-md-3">
                                    <div class="form-group">
                                        <label>NCNR </label>
                                        <select placeholder='Select an Option'  class="select2 form-control input-sm"
                                            name="NCNR" id="NCNR_{{quarter.id|default_if_none:'' }}"  value='{{quarter.NCNR|default_if_none:'' }}'>
                                            <option selected value="-">Select</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>

                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Soft/ Hard Tool</label>
                                        <select placeholder='Select an Option' {%if quarter.quarter in Required%} required {%else%} {%endif%} class="select2 form-control input-sm"
                                            name="soft_hard_tool" id="soft_hard_tool_{{quarter.id|default_if_none:'' }}" {%if quarter.quarter in Required%} required {%else%} {%endif%} value='{{quarter.soft_hard_tool|default_if_none:'' }}'>
                                            <option selected value="-">Select</option>
                                            <option value="Soft Tool">Soft Tool</option>
                                            <option value="Hard Tool">Hard Tool</option>
                                            <option value="Hybrid tool">Hybrid tool</option>
                                        </select>
                                    </div>
                                </div>
                                

                                <!-- {%if quarter.Quote_Type == 'Regional'%}
                                <div class="col-md-3 ">
                                    <div class="form-group">
                                        <label>Region {%if quarter.quarter in Required%}<span class="red">*</span>{%else%} {%endif%}</label>
                                        <select placeholder='Select an Option' {%if quarter.quarter in Required%} required {%else%} {%endif%} class="select2 form-control input-sm"
                                            name="Region" id="Region_{{quarter.id|default_if_none:'' }}" value='{{quarter.Region|default_if_none:'' }}'>

                                            <option selected value="-">Select</option>
                                            <option value="Taiwan">Taiwan</option>
                                            <option value="Hungary">Hungary</option>
                                            <option value="Guadalajara">Guadalajara</option>
                                            <option value="Penang">Penang</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 ">
                                    <div class="form-group">
                                        <label>Geo {%if quarter.quarter in Required%}<span class="red">*</span>{%else%} {%endif%} </label>
                                        <select placeholder='Select an Option' {%if quarter.quarter in Required%} required {%else%} {%endif%} class="select2 form-control input-sm"
                                            name="Geo" id="Geo_{{quarter.id|default_if_none:'' }}" {%if quarter.quarter in Required%} required {%else%} {%endif%} value='Regional'>

                                            <option selected value="-">Select</option>
                                            <option value="APC">APC</option>
                                            <option value="EMA">EMA</option>
                                            <option value="MEM">MEM</option>
                                        </select>
                                    </div>
                                </div>
                                {%endif%} -->
                               

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Comments </label>
                                        <textarea type="text" class="form-control input-sm" name="Comments"
                                            id="Comments_{{quarter.id|default_if_none:'' }}" {%if quarter.quarter in Required%} required {%else%} {%endif%}>{{quarter.Comments|default_if_none:'' }}</textarea>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Arista PIC Comments</label>
                                        <textarea type="text" class="form-control input-sm"
                                            disabled >{{quarter.portfolio.Arista_pic_comment|default_if_none:'No Comment' }}</textarea>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
                {%endfor%}
        </div>
            {%if Quotes.0.quote_is_writable%}
            <button type="submit" class="btn btn-sm btn-success">Submit Quote</button>
            <button type="button" onclick="not_to_quote(['{{Quotes.0.id|default_if_none:'' }}','{{Quotes.1.id|default_if_none:'' }}','{{Quotes.2.id|default_if_none:'' }}'])" class="btn btn-sm btn-info">No BID</button>
            {%endif%}
        </form>


    </div>

</div>
<script>
       $(document).ready(function() {
        $(".block_it").hide({
            message: `
            <div class="font-medium-2""> Quote option has been disabled for this part, Contact Customer to re-enable</div>`,
            overlayCSS: {
                backgroundColor: '#fff',
                opacity: 0.7,
                cursor: 'default',
                // quirksmodeOffsetHack: 4,
            },
            css: {
                border: 0,
                padding: 0,
                width:'100%',
                height:'98%',
                textAlign:'center',
                backgroundColor: 'transparent',
                cursor: 'default',
                'z-index': 10,
            }
        });
        $(".select2").select2();
        {%for quarter in Quotes%}
        $("#COO_{{quarter.id}}").val("{{quarter.COO|default_if_none:'' }}")
        $("#COO_{{quarter.id}}").trigger("change")
        $("#Inco_Term_{{quarter.id|default_if_none:'' }}").val("{{quarter.Inco_Term|default_if_none:'' }}")
        $("#Inco_Term_{{quarter.id|default_if_none:'' }}").trigger("change")
        $("#Region_{{quarter.id|default_if_none:'' }}").val("{{quarter.Region|default_if_none:'' }}")
        $("#Region_{{quarter.id|default_if_none:'' }}").trigger("change")
        $("#Geo_{{quarter.id|default_if_none:'' }}").val("{{quarter.Geo|default_if_none:'' }}")
        $("#Geo_{{quarter.id|default_if_none:'' }}").trigger("change")
        $("#Life_Cycle_{{quarter.id|default_if_none:'' }}").val("{{quarter.Life_Cycle|default_if_none:'' }}")
        $("#Life_Cycle_{{quarter.id|default_if_none:'' }}").trigger("change")
        $("#NCNR_{{quarter.id}}").val("{{quarter.NCNR}}").trigger("change")
        $("#PO_Delivery_{{quarter.id}}").val("{{quarter.PO_Delivery}}").trigger("change")
        $("#soft_hard_tool_{{quarter.id}}").val("{{quarter.soft_hard_tool}}").trigger("change")
        {%endfor%}

       });
    $("#Quote_form").submit(function (e) {
        e.preventDefault();
        var form = $(this);
        var url = form.attr('action');
        var formData = new FormData(this);
        console.log(formData)
        $.ajax({
            type: "POST",
            url: url,
            data: formData, // serializes the form's elements.
            success: function (data) {
                console.log(data)
                if (data.status==200){
                swal(data.message, {
                    icon: 'success',
                })
                notify_sound()
                loading()

            }
            else{
                swal('Quote Not updated, Something went wrong Refresh your page', {
                    icon: 'error',
                    button: true,
                })
            }
            },
            error: function (exception) {
                swal('Quote Not updated, Something went wrong Refresh your page', {
                    icon: 'error',
                    button: true,
                })
            },
            cache: false,
            contentType: false,
            processData: false
        });
        //after inserting

    });

function not_to_quote(ids){
        console.log(ids)
        swal("Enter the Reason for No BID", {
    content: "input",
    buttons: true,
    cancel:'cancel'

    })
     .then((value) => {
        if (value !== null && value!==''){
            $.post( "{%url 'make_quote' 'Not_quote' %}", {id:ids,Comment:value,csrfmiddlewaretoken:"{{csrf_token|default_if_none:'' }}"},
            function(data,status){
                swal('Updated', {icon: 'success'})
                });
                $.get("{%url 'his_parts'%}", function(data){

                    $('#masterpartlistsidebar').html(data)
                });
                loading()

        }

        else{
            swal('Nothing has been saved', {icon: 'error',timer: 1000})
        }
    })
}

$('#container_{{Quotes.0.id}}').on('keyup change paste',function(){
    console.log(this)
    if ($("#quote_count").val() ==1){
        auto_form_copier()
    }else{
        console.log('pass')
    }
})
$('#Make_all').on('click',function(){
    $('#Make_all').hide()
    $('#Make_single').show()
    $("#quote_count").val(3)
})

$('#Make_single').on('click',function(){
    $('#Make_all').show()
    $('#Make_single').hide()
    $("#quote_count").val(1)
    swal('This will automatically copy the current  quote value for all the below quarter, Still you can change the values in below quarters ', {
                    icon: 'success',
                })
    auto_form_copier()
})

function auto_form_copier(){
    Lead_Time=$("#Lead_Time_{{Quotes.0.id}}").val()
    Item_Price=$("#Item_Price_{{Quotes.0.id}}").val()
    MOQ=$("#MOQ_{{Quotes.0.id}}").val()
    List=$("#List_{{Quotes.0.id}}").val()
    tarrif=$("#tarrif_{{Quotes.0.id}}").val()
    COO=$("#COO_{{Quotes.0.id}}").val()
    Inco_Term=$("#Inco_Term_{{Quotes.0.id}}").val()
    minimum_pkg_qty=$("#minimum_pkg_qty_{{Quotes.0.id}}").val()
    Assembly_cost=$("#Assembly_cost_{{Quotes.0.id}}").val()
    Freight_cost=$("#Freight_cost_{{Quotes.0.id}}").val()
    Masked_Price=$("#Masked_Price_{{Quotes.0.id}}").val()
    Region=$("#Region_{{Quotes.0.id}}").val()
    Geo=$("#Geo_{{Quotes.0.id}}").val()
    Life_Cycle=$("#Life_Cycle_{{Quotes.0.id}}").val()
    Comments=$("#Comments_{{Quotes.0.id}}").val()
    NCNR=$("#NCNR_{{Quotes.0.id}}").val()
    PO_Delivery=$("#PO_Delivery_{{Quotes.0.id}}").val()
    soft_hard_tool=$("#soft_hard_tool_{{Quotes.0.id}}").val()

    // {%for quarter in Quotes|slice:'1:'%}

    $("#Lead_Time_{{quarter.id}}").val(Lead_Time)
    $("#Item_Price_{{quarter.id}}").val(Item_Price)
    $("#MOQ_{{quarter.id}}").val(MOQ)
    $("#List_{{quarter.id}}").val(List)
    $("#tarrif_{{quarter.id}}").val(tarrif)
    $("#COO_{{quarter.id}}").val(COO)
    $("#COO_{{quarter.id}}").trigger("change")
    $("#Inco_Term_{{quarter.id}}").val(Inco_Term)
    $("#Inco_Term_{{quarter.id}}").trigger("change")
    $("#minimum_pkg_qty_{{quarter.id}}").val(minimum_pkg_qty)
    $("#Assembly_cost_{{quarter.id}}").val(Assembly_cost)
    $("#Freight_cost_{{quarter.id}}").val(Freight_cost)
    $("#Region_{{quarter.id}}").val(Region).trigger("change")
    $("#Geo_{{quarter.id}}").val(Geo).trigger("change")
    $("#Masked_Price_{{quarter.id}}").val(Masked_Price)
    $("#Life_Cycle_{{quarter.id}}").val(Life_Cycle)
    $("#Life_Cycle_{{quarter.id}}").trigger("change")
    $("#Comments_{{quarter.id}}").val(Comments)
    $("#NCNR_{{quarter.id}}").val(NCNR).trigger("change")
    $("#PO_Delivery_{{quarter.id}}").val(PO_Delivery).trigger("change")
    $("#soft_hard_tool_{{quarter.id}}").val(soft_hard_tool).trigger("change")

    // {%endfor%}

    }
</script>
<script>
    $(document).ready(function() {
        // $('#smtable').DataTable({
        //     "scrollX": true
        // });

    });
    
</script>

<script>
    function check(input) {
      if (input.value == 0) {
        input.setCustomValidity('The value must be greater than 0.');
      } else {
        // input is fine -- reset the error message
        input.setCustomValidity('');
      }
    }
   </script>

<style>
    .blockElement,
.blockPage {
    z-index: 1300 !important;
}
</style>